<!DOCTYPE>
<html>
 <head>
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 

		<link rel="stylesheet" type="text/css" href="ca.css">	
 </head>
 <body> 
	<div class='col-md-9 col-md-offset-2'>
		<div class= "row marginRow"></div>
			<div class="jumbotron">
			<div class="heading">
			<h1> <span class="title-color">home</span>ania</h1>
			<p>real estate marketing services</p>
			</div>
			</div>
			
			<div class="jumbotron some">
			<h1> <span class="something">PHOTOGRAPHER CERTIFICATION PROGRAM</span></h1>
			</div>
			
			
			<div class='heading2'>
			<p> <b>Choose the level you would like to work on</b></p>
			</div>
			
			<div class='col-md-2 col-md-offset-2 level'>
			<p>LEVEL 1 <br> Introduction to our system and real estate photography Completion of this course will allow you to shoot our standard orders </p>
			</div>
			<div style="width: 25%; float:left; margin: 5px; background-color: white;"></div>	
			<div class='col-md-2 col-md-offset-1 level'>
			<div style="width: 25%; float:center; margin: 5px; background-color: white;"></div>
			<p>LEVEL 2 <br> Real Estate Videography and HDR photography Completion of  this level will allow you to shoot our deluxe package </p>
			</div>
			
			<div class='col-md-2 col-md-offset-1 level'>
			<div style="width: 25%; float:right; margin: 5px; background-color: white;"></div>
			<p>LEVEL 3 <br> Aerial Photography and beyond. Completion of this level will allow you to shoot our aerial add-on package. </p>
			</div>
			</div>
	</div>
	 </body>
 </html>