<html>
<head>
<title>multiple-choice quiz form</title>
</head>
<body bgcolor=white>

<h3>Photography Quiz I</h3>

<form method="post" action="vijay@google.com?subject=Photography Quiz 1" enctype="text/plain">

Check the answer to each multiple-choice question, and click on the "Send Form" button to submit the information.

<P>1. An action photo that tells a story or captures a moment is a <BR>
<input type="radio" name="1.The word which means house is" value="Mug shot">Mug shot<BR>
<input type="radio" name="1.The word which means house is" value="Candid photo">Candid photo<BR>
<input type="radio" name="1.The word which means house is" value="Cropped photo">Cropped photo<BR>
<input type="radio" name="1.The word which means house is" value="None of the above">None of the above<BR>
</p>

<!-- <P>2. The opening in a photographic lens that admits light is<BR>
<input type="radio" name="2. The word which means fish is" value="Aperture">Aperture<BR>
<input type="radio" name="2. The word which means fish is" value="ISO">ISO<BR>
<input type="radio" name="2. The word which means fish is" value="Shutter">Shutter<BR>
<input type="radio" name="2. The word which means fish is" value="None of the above">None of the above<BR>
</p>

<P>3. To walk around looking for a candid subject to shoot refers to<BR>
<input type="radio" name="3. The word which means suitcase is" value="Framing">renard<BR>
<input type="radio" name="3. The word which means suitcase is" value="Enterprise photogrpahy">valise<BR>
<input type="radio" name="3. The word which means suitcase is" value="Covering">Covering<BR>
<input type="radio" name="3. The word which means suitcase is" value="None of the above">None of the above<BR>
</p>
 -->
<br>
<br>
<br>
<br>
<input type="submit" value="Next">
<!-- <input type="reset" value="Clear Form"> -->
</form>
</body>
</html>