{% extends "accounts/base.html" %}

{% load bootstrap %}

{% block content %}
<div class="radio col-md-11 col-md-offset-1"> 
{% for question in questions %}
	<div>
	<h1><b><span value="{{ question.id }}" id="marked_ques">{{ question.id }}</span>.</b> {{ question.question_content }}</h1>
	
    <form>
    
	{% for answer in question.qus.all %}
	   <div class="radio">
			<input type="radio" value="{{ answer.id}}" name="marked_answer"><span id="radio_answer">{{ answer.answer_content }}</span>
	{% endfor %}
  </div>
	</div><br>


  </form>
  </div>

{% if questions.has_other_pages %}
  <ul class="pagination">
    {% if questions.has_next %}
      <button type="button" class="btn btn-default" onclick="get_answer()" value="Submit">Submit</button>
      <button class="btn btn-default"><a href="?page={{ questions.next_page_number|add:'-1' }}">Next</a></button>

    {% else %}
      <button class="btn btn-default"><span><a href="{% url 'get_score' %}">Check Score</a></span></button>
    {% endif %}
  </ul>
{% else %}
  <button type="button" class="btn btn-default" onclick="get_answer()" value="Submit">Submit</button>
  <button class="btn btn-default"><span><a href="{% url 'get_score' %}">Check Score</a></span></button>
{% endif %}

{% endfor %}

{% endblock %}