{% extends "accounts/base.html" %}



{% block content %}

{% for question in questions %}
	<div>
	<h1><b>{{ question.id }}.</b> {{ question.question_content }}</h1>
	
    <form>
	{% for answer in question.qus.all %}
	<div> 
			<input type="radio" value="{{ answer.id}}" name="marked_answer">{{ answer.answer_content }}
	{% endfor %} 
	</div><br>
	<input type="button" onclick="get_answer()" value="Submit">
	</form>
{% endfor %}

<script>
function get_answer() {
   console.log("get_answer claase");
   var answer = $('input[name="marked_answer"]:checked').val();
   console.log("==== you select ===", answer)

   $.ajax({
  type: "POST",
  beforeSend: function (request)
            {
                request.setRequestHeader("X-CSRF-TOKEN", "${_csrf.token}");
            },
  url: '/test/',
  data: {answer : answer},

});
}
</script>


{% if questions.has_other_pages %}
  <ul class="pagination">
    {% if questions.has_previous %}
      <li><a href="?page={{ questions.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in questions.paginator.page_range %}
      {% if questions.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if questions.has_next %}
      <li><a href="?page={{ questions.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

<button name="button" value="OK" type="button"><a href="{% url 'logout' %}">Logout</a></button>



{% endblock %}