{% extends "accounts/base.html" %}

level={{level}}
{% block content %}



	<br>
	<div class='download'>
		<button type="button" class="btn btn-info">Download this section</button>
		</div>
		<br>
		<div class='info '>
		<p> <b> &nbsp; Introduction to our system and real estate photography Introduction to our system and real estate photography Introduction to our system and real estate photography Introduction to our system and real estate photography Introduction to our system and real estate photography Introduction to our system and real estate photography Introduction to our system and real estate photography Introduction to our system and real estate photography Introduction to our system and real estate photography </p>
		<p> Introduction to our system and real estate photography Introduction to our system and real estate photography Introduction to our system and real estate photography </b> </p>
		<br>
		</div>

		<div class='quiz'>
		<a href="{% url 'ques_list' level_id=level %}"><button type="button" class="btn btn-primary btn-lg col-md-2 col-md-offset-3">Quiz</button></a>

		<button type="button" class="btn btn-primary btn-lg col-md-2 col-md-offset-3">Practical Test</button>
		
		</div>

{% endblock %}